<%= form_with model: registered, url: apply_job_vacancy_path, method: :post do |form|%>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <%= form.label :registered_justification %>
                <p><em>*Para candidatar-se a uma vaga, é necessario apresentar uma justificativa de porque você é adequado para essa vaga</em></p>
                <%= form.text_area :registered_justification, class:"form-control", rows:4%>
            </div>
        </div>
    </div>
    <p>
        <%= form.submit 'Candidatar-se a vaga', class: "btn btn-primary"%>
    </p>
<%end%>