<div class="container">

<h3>Lista de candidatos inscritos na vaga</h3>

  <%= render 'registered', registereds: @registereds,          table_name:"candidatos" %>

  <%= render 'registered', registereds: @favorits_registereds, table_name:"candidatos em destaque" %>

  <%= render 'canceled',   registereds: @canceled_registereds, table_name:"candidatos recusados" %>

</div>