<div class="container">
    <% if current_headhunter.present? %>
        <%= render "headhunter_index", job_vacancies: @job_vacancies %>
    <% else %>
        <%= render "candidate_index", job_vacancies: @job_vacancies %>
    <% end %>
</div>