<div class="container">
    <% if current_headhunter.present? %>
        <%= render partial: "headhunter_index", locals: {job_vacancies: @job_vacancies}%>
    <% else %>
        <%= render partial: "candidate_index", locals: {job_vacancies: @job_vacancies}%>
    <% end %>
</div>