<div class="container">
    
    <% if current_candidate%>
        <%= render partial: "candidate_proposal", locals: {proposals:@proposals}%>
    <% else %>
        <%= render partial: "headhunter_proposal", locals: {proposals:@proposals}%>
    <% end %>


</div>            