<div class="container">
    <% if current_candidate%>
        <%= render "candidate_proposal", proposals:@proposals %>
    <% else %>
        <%= render "headhunter_proposal", proposals:@proposals %>
    <% end %>
</div>