<p>
  Olá <%= headhunter.email%> |
  <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
</p>
<p>
  <%= link_to 'Vagas', job_vacancies_path %>
  <%= link_to 'Propostas', proposals_path %>
</p>