<div id="user_selection">
  <div>
    <input type="radio" name="loginRadio" id="headhunterOption" value="headhunter" checked>
    <label for="headhunterOption">Headhunter</label>
    <input type="radio" name="loginRadio" id="candidateOption" value="candidate">
    <label for="candidateOption">Candidato</label>
  </div>

  <div id="headhunter_menu" >
    <%= link_to 'Cadastrar-se como headhunter', new_headhunter_registration_path%> |
    <%= link_to 'Entrar como headhunter', new_headhunter_session_path%>
  </div>

  <div id="candidate_menu" hidden>
    <%= link_to 'Cadastrar-se como candidato', new_candidate_registration_path%> | 
    <%= link_to 'Entrar como candidato', new_candidate_session_path%> 
  </div>

  <script>
    $(document).ready(function () {
        if localStorage['loginRadioValue'] {
            if (localStorage['loginRadioValue'] == "headhunter") {
              console.log("passou no headhunter")
              document.getElementBydI("headhunterOption").click();
            } else {
              console.log("passou no candidate")
              document.getElementById("candidateOption").click();
            }
        }
    });

    $(document).ready(function() {
      $('input[type=radio][name=loginRadio]').change(function(){
        $('input[type=radio][name=loginRadio]')

        localStorage['loginRadioValue'] = this.value

        if (this.value === 'headhunter') {
          $('#headhunter_menu').show();
          $('#candidate_menu').hide();
        }
        else if (this.value === 'candidate') {
          $('#headhunter_menu').hide();
          $('#candidate_menu').show();
        }
      });
    })
  </script>

</div>

